In [1]:
# load library
import numpy as np
import pandas as pd

# random number 0-3 
a=list(np.random.randint(4, size=10))

# random number 0-4
b=list(np.random.randint(5, size=10))

# build dataframe
test28 = pd.DataFrame({'num1':a,'num2':b},columns=['num1','num2'])
test28

   num1  num2
0     3     4
1     1     3
2     3     2
3     3     0
4     1     2
5     2     4
6     3     4
7     0     2
8     3     3
9     3     0

In [6]:
# export dataframe to csv file
test28.to_csv('test28.csv',index=False)